<app-encabezado titulo="Registro"></app-encabezado>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia de clase {{ scannedClass }} registrada con éxito</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="chart-container ion-text-center">
    <div class="pie animate no-round" style="--p:80; --c:green;"></div>
  </div>

  <ion-card>
    <ion-card-content>
      <p>Has asistido a 8 de 10 clases.</p>
      <p>Porcentaje de asistencia: 80%</p>
      <p>Horario: 12:10 a 14:20</p>
    </ion-card-content>
  </ion-card>
</ion-content>
