<app-encabezado titulo="Registro"></app-encabezado>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia de clase {{ scannedClass }} registrada con éxito</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="chart-container ion-text-center">
    <div class="pie animate no-round" style="--p:100; --c:green;"></div>
  </div>

  <ion-card>
    <ion-card-content>
      <p>Has asistido a 1 de 1 clases.</p>
      <p>Porcentaje de asistencia: 100%</p>
      <p><strong>Horario:</strong> {{ classStartTime }} - {{ classEndTime }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
