<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-capitalize ion-text-center" color="light" mode="md">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align:center;">
    <img src="assets/logo.png" style="width: 150px; height: 150px; margin-bottom: 32px;" alt="Logo">
  </div>

  <form (ngSubmit)="login()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" class="ion-margin-top" color="primary">
      Iniciar Sesión
    </ion-button>

    <ion-button expand="block" color="light" (click)="goToResetPassword()">
      Crear usuario
    </ion-button>

  </form>
</ion-content>
