.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .qr-code {
    width: 350px;  
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.2em;
    color: #ffffff;
  }
  .qr-text {
    color: black;
    font-weight: bold; 
    font-size: 1.2em; 
    text-shadow: 2px 2px 4px white, -2px -2px 4px white, 2px -2px 4px white, -2px 2px 4px white;
  }
  
  .custom-alert .alert-message {
    font-size: 16px;
    line-height: 1.5;
  }
  