<app-encabezado titulo="Asistencia"></app-encabezado>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Selecciona una clase</ion-label>
    <ion-select placeholder="Elige clase" [(ngModel)]="selectedClass">
      <ion-select-option *ngFor="let cls of classes" [value]="cls">{{ cls }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" color="success" class="ion-margin" (click)="generateQR()">Generar QR</ion-button>

  <ion-item>
    <ion-label position="floating">Nombre de la nueva clase</ion-label>
    <ion-input [(ngModel)]="newClassName" placeholder="Ej: PGY4121-006"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" class="ion-margin" (click)="createClass()">Crear Clase</ion-button>

  <div *ngIf="qrCode" class="qr-container ion-text-center">
    <img [src]="qrCode" alt="Código QR" width="256" height="256" />
    <h2 class="qr-text">{{ generatedClass }}</h2>
    <ion-button expand="block" color="success" (click)="showAttendance()">LISTA PASADA</ion-button>
  </div>
  
</ion-content>
