<app-encabezado titulo="Historial"></app-encabezado>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-divider>
      <ion-label>
        <strong>INGENIERÍA EN INFORMÁTICA</strong>
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>
        <h2>Arquitectura</h2>
        <p>70% (7 DE 10 CLASES)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Calidad de Software</h2>
        <p>75% (9 DE 12 CLASES)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Estadística Descriptiva</h2>
        <p>66.7% (8 DE 12 CLASES)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Ética para el Trabajo</h2>
        <p>100% (4 DE 4 CLASES)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Inglés Intermedio</h2>
        <p>64.3% (9 DE 14 CLASES)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Proceso de Portafolio 4</h2>
        <p>0% (0 DE 2 CLASES)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Programación de Aplicaciones Móviles</h2>
        <p>72.7% (8 DE 11 CLASES)</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
